---
layout: page
title: Tags
---


<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include tags_list.tpl %}
</ul>
<p style="margin-bottom: 10px;">&nbsp;</p>

{% for tag in site.tags %}
<div name="tags_div" id="{{ tag[0] }}_div" class="tag_hide">
  <h2 id="{{ tag[0] }}-ref" >{{ tag[0] }}</h2>
  <ul>
    {% assign list = tag[1] %}
    {% for post in list %}
      <article {% if forloop.index== 1 and preview %} content-loaded="1" {% endif %}>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% include meta.tpl %}
        <div class="article-content">
          {% if forloop.index == 1 and preview and post.layout == 'post' %}
          {{ post.content | strip_html | strip_newlines | truncate: 100 }}
          {% endif %}
        </div>
      </article>
    {% endfor %}

    {% if list == null %}
    <article class="empty">
      <p>该分类下还没有文章</p>
    </article>
    {% endif %}
  </ul>
</div>
{% endfor %}

<script type="text/javascript">
  let changeTag = function () {
    let aim_tag = decodeURI(location.hash.replace(/#|-ref/g, ""))
    let h2arr = document.getElementsByName("tags_div");
    h2arr = [].slice.call(h2arr);
    h2arr.forEach(el => {
      let tag = el.getAttribute("id")
      if (tag && tag.replace("_div", "") === aim_tag) {
        el.setAttribute("class", "tag_show")
      }
    })
  }

  let t_arr = document.getElementsByName("tag_a");
  t_arr = [].slice.call(t_arr);
  t_arr.forEach(el => {
    el.onclick = changeTag;
  })

  changeTag();
</script>
