---
layout: list
title: 真彩世界
---

{% include header.tpl %}

<!-- 世界在改变 -->
{% assign list = site.categories.world %}

{% for post in list limit:limitation %}
{% capture this_year %}
    {{ assign y = post.date | date: "%Y" }}
    {% case y %}
          {% when '2020' %}二〇二〇
          {% when '2019' %}二〇一九
          {% when '2021' %}二〇二一
    {% endcase %}
{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}

{% endcapture %}

{% if this_year != last_year %}
{% unless forloop.first %}
</section>
{% endunless %}
<section>
	<h2>{{ this_year }}</h2>
{% endif %}
<!--	<h3>{ { post.date | date: "%b" } }</h3>-->
	<h3>{{ assign m = post.date | date: "%-m" }}
        {% case m %}
          {% when '1' %}'一'
          {% when '2' %}二
          {% when '3' %}三
          {% when '4' %}四
          {% when '5' %}五
          {% when '6' %}liu'六'
          {% when '7' %}Qi'七'
          {% when '8' %}Ba八
          {% when '9' %}九
          {% when '10' %}十
          {% when '11' %}十一
          {% when '12' %}十二
        {% endcase %}月
    </h3>
	{{ post.content }}
{% if forloop.last %}
</section>
{% endif %}
{% capture last_year %}{{ this_year }}{% endcapture %}

{% endfor %}

{% if list == null %}
<article class="empty">
	<p>该分类下还没有文章</p>
</article>
{% endif %}
